/* Universal Presets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global CSS Variables */
:root {
  --body-bg: #2a9d907a;
  --header-text: #fef7e9;
  --body-text: #050505;
  --headings: #e9c46a;
  --primary: #e76f51;
  --primary-shadow: #f4a261;
  --secondary: #264653;
  --secondary-shadow: #476a6c;
  --white: #ffffff;

font-family: 'Young Serif', serif;
text-align: center;
scroll-behavior: smooth;
}
#closeID,
.mobile-nav,
.desktop-nav{
  display: none;
}
/* Base Styles */
section{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.5rem;
  max-width: 470px;
}
section:last-of-type{
  margin-bottom: 0;
}
h1{
  font-size: 3rem;
  line-height: 1;
}
h3{
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--primary);
}
body{
  background-color: var(--body-bg);
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1rem;
  background-color: var(--white);
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

/* Custom Styles */
/* Utility */
.btn{
  border-radius: 5px;
  color: var(--header-text);
  padding: 0.5rem 1rem;
  background-color:var(--secondary) ;
  box-shadow: 0 2px var(--secondary-shadow);
  transition: background-color 0.3s ease;
}
.btn:hover{
  background-color: var(--secondary-shadow);
}
.section-square{
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  rotate: 10deg;
  margin-bottom: 3rem;
}
.body-text{
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: 2;
  color: var(--body-text);
}
/* dry */
main,footer{
  margin-inline: 1rem;
}
h1, h2{
  margin-bottom: 1rem;
  color: var(--headings);
}
h1,h2,h3{
  font-weight: 400;
}
.hero-container p:last-of-type,
.about-container p:last-of-type{
  margin-bottom: 1.5rem;
}
/* Header */
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: var(--header-text);
  background-color: var(--primary);
}

.menu-btn{
  cursor: pointer;
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  fill: var(--header-text);
  transition: fill 0.3s ease;
}
.menu-btn:hover{
  fill: var(--secondary);
}

/* Mobile Nav */

.mobile-nav{
  position: absolute;
  z-index: 50;
  top: 56px;
  width: 100%;
  left: 0;
  padding-top: 2rem;
  font-size: 2.5rem;
  background-color: var(--primary);
  transform: translateX(100%);
  transition: transform 0.3s ease;
}
.mobile-nav.open{
  transform: translateX(0%);
}

.mobile-nav li{
  margin-bottom: 2rem;
}
.mobile-nav a,
.desktop-nav a{
  transition: color 0.3s ease;
}
.mobile-nav a:hover,
.desktop-nav a:hover{
  color:var(--secondary)
}
.hero-img-container{
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.main-img-bg{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: var(--secondary);
  border-radius: 1rem;
  rotate: 10deg;
  box-shadow: 5px 10px var(--secondary-shadow);
}
.hero-img-container img{
  position: absolute;
  width: 200px;
  border-radius: 1rem;
  outline: 0.25rem solid var(--body-bg);
}
.hero-container p{
  font-size: 1.2rem;
  color: var(--secondary);
}
.hero-container p:last-of-type{
  font-size: 0.9rem;
}
/* ABOUT SECTION */
.about-container p{
  margin-bottom: 1rem;
}
/* PROJECT SECTION */
.project-container{
  margin-bottom: 1.5rem;
}
.project-img-container{
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.project-img{
  aspect-ratio: 16/9;
  background-color: var(--primary);
}
.project-techs{
  margin-bottom: 0.5rem;
}
.project-techs span{
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  font-size: 0.6rem;
  color: var(--header-text);
  background-color: var(--primary);
  box-shadow: 0 1px var(--primary-shadow);
}
.project-text-container p{
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
}
.project-links a{
  font-size: 0.75rem;
}
.project-container :last-of-type{
  margin-bottom: 0.5rem;
}
/* CONTACT */
.contact-container p{
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  color: var(--primary);
}
.socials-container{
  display: flex;
  gap: 1rem;
}
.socials-container svg{
  width: 20px;
  height: 20px;
  fill: var(--secondary);
  transition: transform 0.3s ease, fill 0.3s ease;
}
.socials-container svg:hover{
  transform: scale(1.2);
  fill: var(--secondary-shadow);
}
/* footer */
footer{
  padding-block: 1.5rem;
  font-size: 0.75rem;
  color: var(--header-text);
  background-color: var(--primary);
}
/* MEDIA QUIERIES */
@media (min-width: 1024px){
  
  .menu-btn, .mobile-nav{
    display: none;
  }
  .desktop-nav{
    display: block;
  }
  header, main, footer{
    max-width: 982px;
    margin-inline: auto;
    padding-inline: 3rem;
  }
  main{
    padding-block: 6rem;
  }
  section{
    width: 100%;
    max-width: 100%;
    margin-bottom: 6.5rem;
  }
  .section-square{
    margin-bottom: 6rem;
  }
  .about-container p{
    margin-bottom: 2rem;
  }
  .project-text-container{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }
  .contact-container{
    margin-bottom: 1rem;
  }
  footer{
    padding-block: 3rem;
  }
  h1{
    font-size: 3.5rem;
  }
  h2{
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  h3,
  .hero-container p{
    font-size: 1.5rem;
  }
  .body-text{
    font-size: 1.25rem;
  }
  header{
    font-size: 1.15rem;
  }
  .project-text-container p,
  .hero-container p:last-of-type,
  .project-techs span,
  .project-links a,
  .contact-container p,
  footer {
    font-size: 1rem;
  }
  .desktop-nav ul{
    display: flex;
    gap: 3rem;
  }
  .hero-container{
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
  }
  .project-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    text-align: left;
  }
  .project-container:nth-of-type(even){
    flex-direction: row-reverse;
  }
  .project-img-container,
  .project-text-container{
    flex-basis: 50%;
  }
  .socials-container{
    gap: 2rem;
  }
  .socials-container svg{
    width: 35px;
    height: 35px;
  }
}